<nb-card style="height: 100%" class="p-2 pb-0 mb-0">
  <div class="row mx-0 mb-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h4 class="title">My Environment</h4>
      <button nbButton
              (click)="open2(dataModal)"
              class="btn btn-hero-success" [size]="'xxsmall'">Create New Environment
      </button>
    </div>
  </div>

  <div class="row mx-0 application-row">
    <div class="application-container pt-3" style="width: 100%">
      <div class="p-2" style="width: 100%">
        <nb-card class="p-1" [accent]="'info'" *ngFor="let i of [1,2]">
          <div class="d-flex align-items-center p-2">
            <span>Environment {{i}}</span>

            <div class="d-flex ml-auto">
              <button nbButton class="btn btn-hero-primary mr-1" [size]="'xxsmall'" (click)="goToEvnDetailPage()">Edit</button>
              <button nbButton class="btn btn-hero-danger mr-1" [size]="'xxsmall'">Delete</button>
            </div>

          </div>
        </nb-card>
      </div>

      <app-splash-screen style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                         headingText="No app"
                         descriptionText="Create one to see it"></app-splash-screen>

    </div>
  </div>

</nb-card>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create environment</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" (ngSubmit)="createNewAppHandler(createAppForm.value)" class="input-group"
            style="width: 450px">
        <input ngModel name="name" type="text" nbInput fullWidth placeholder="Project">
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="createNewAppHandler(createAppForm.value); ref.close()">Create</button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template #dataModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Environment</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" (ngSubmit)="createNewAppHandler(createAppForm.value)" class="input-group"
            style="width: 450px">
        <label for="">Node name</label>
        <input ngModel name="name" type="text" nbInput fullWidth placeholder="Project">

        <div class="form-group mt-2 w-100" >
          <label for="">Data type</label>
          <textarea rows="5" nbInput fullWidth  placeholder="Text Area"></textarea>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" class="mr-1">Close</button>
      <button nbButton (click)="goToEvnDetailPage();ref.close(); ">Upload and Create</button>
    </nb-card-footer>
  </nb-card>
</ng-template>