<nb-card class="d-flex flex-column p-3 pb-0 mb-0" style="height: 100%">
  <div style="display: flex; align-items: center">
    <div>
      <h1 class="m-1">{{environment?.name|| 'New Environment'}}</h1>
      <p class="m-1">Docket Configurations</p>
    </div>
    <button nbButton class="btn mr-1 ml-auto" [size]="'xxsmall'" (click)="cancel()">Cancel</button>
    <button nbButton class="btn " [size]="'xxsmall'" (click)="saveOrUpdate(environmentForm.value)">{{id?'Update':'Create'}}</button>
  </div>


  <div class="row mx-0 application-row w-100">
    <div class="application-container pt-3 w-100">
      <div class="p-2">
        <h3>Parameters</h3>
        <form [formGroup]="environmentForm" class="input-group"
              style="width: 100%">

          <div class="d-flex; align-items-center mb-1">
            <label for="">Minumum container</label>
            <input type="number" formControlName="min_server_count" nbInput>
            <label for="">Maximum container</label>
            <input type="number" formControlName="max_server_count" nbInput>
            <label for="">Desired container</label>
            <input type="number" formControlName="desired_count" nbInput>
          </div>
          <div class="d-flex; align-items-center" style="width: 100%">
            <label for="">Memory(GB)</label>
            <input formControlName="memory" nbInput>
            <label for="">CPU</label>
            <input formControlName="vcpu" nbInput>
          </div>
          <h3>Docker file</h3>
          <textarea style="height: 200px" formControlName="docker_file" nbInput fullWidth
                    placeholder="Project"></textarea>
        </form>
      </div>


      <app-splash-screen *ngIf="!id" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                         headingText="No app"
                         descriptionText="Create one to see it"></app-splash-screen>

    </div>
  </div>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Script Node</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" (ngSubmit)="createNewAppHandler(createAppForm.value)" class="input-group"
            style="width: 450px">
        <label for="">Node name</label>
        <input ngModel name="name" nbInput fullWidth placeholder="Project">
        <br>
        <label for="">Description name</label>
        <textarea ngModel name="name" nbInput fullWidth placeholder="Project"></textarea>
        <br>
        <div class="form-group">
          <label>Multiple Select</label>
          <select class="form-control">
            <option>Combo box</option>
            <option>Combo box</option>
            <option>Combo box</option>
          </select>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #dataModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Data Node</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" (ngSubmit)="createNewAppHandler(createAppForm.value)" class="input-group"
            style="width: 450px">
        <label for="">Node name</label>
        <input ngModel name="name" nbInput fullWidth placeholder="Project">

        <div class="form-group mt-2">
          <label for="">Data type</label>
          <nb-radio-group [(value)]="radioGroupValue" style="display: flex; align-content: center">
            <nb-radio
              [value]="'This is value 1'">
              CSV
            </nb-radio>
            <nb-radio
              [value]="'This is value 2'">
              Custom
            </nb-radio>
          </nb-radio-group>
        </div>

        <br>
        <div class="form-group">
          <label>Multiple Select</label>
          <input class="form-control" type="file">
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()" class="mr-1">Close</button>
      <button nbButton (click)="goToNodePage();ref.close(); ">Upload and Create</button>
    </nb-card-footer>
  </nb-card>
</ng-template>



