<nb-progress-bar *ngIf="showProgressbar" style="position: fixed; top: 0;left: 0; right: 0; z-index: 1000;"
                 [value]="progressVal" size="xs">xs</nb-progress-bar>

<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <!--<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>-->
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()"><span>Legolas</span></div>
  </div>
  <!--<ngx-theme-switcher></ngx-theme-switcher>-->
</div>
<div class="header-container" [nbPopover]="card" *ngIf="(myAuthStoreService?.user?.name) as name">
  <div class="box_initials">{{getInitials(name)}}</div>
  <div class="ml-1">{{name}}</div>
</div>


<ng-template #card>
  <nb-card class="popover-card" style="margin-bottom: 0">
    <nb-card-header status="warning" (click)="logout()" style="cursor: pointer">
      Sign out
    </nb-card-header>
    <!--<nb-card-body>-->
      <!--Logout-->
    <!--</nb-card-body>-->
  </nb-card>
</ng-template>