<nb-card class="d-flex flex-column p-2 pb-0 mb-0 h-100" >
  <div class="d-flex">
    <h1 class="m-1">My nodes</h1>
    <button nbButton class="btn mr-1 ml-auto" [size]="'xxsmall'" (click)="open2(dialog)">+ Script Node</button>
    <button nbButton class="btn " [size]="'xxsmall'" (click)="open2(dataModal)">+ Data node</button>
  </div>
  <div class="d-flex my-2">

    <div [(ngModel)]="node_type" ngbRadioGroup
         style="width: 250px; margin-left: 10px"
         class="btn-group btn-group-toggle btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group">
      <label ngbButtonLabel class="btn btn-outline-primary p-1 mr-0">
        <input ngbButton type="radio" value="script"> Script
      </label>
      <label ngbButtonLabel class="btn btn-outline-primary p-1">
        <input ngbButton type="radio" value="value"> Data
      </label>
    </div>
  </div>

  <div class="row mx-0 application-row w-100">
    <div class="application-container pt-3 w-100">
      <div class="p-2">
        <ng-container *ngFor="let node of nodes">
          <nb-card class="p-1" [accent]="'info'" *ngIf="node.node_type === node_type">
              <div class="d-flex align-items-center p-2">
                <span>{{node.name}}</span>

                <div class="d-flex ml-auto">
                  <button nbButton class="btn btn-hero-primary mr-1" (click)="goToNodePage(node)" [size]="'xxsmall'">
                    Edit
                  </button>
                  <button nbButton class="btn btn-hero-danger mr-1" (click)="deleteNodeHandler(node)"
                          [size]="'xxsmall'">Delete
                  </button>
                </div>

              </div>
          </nb-card>
        </ng-container>
      </div>

      <app-splash-screen *ngIf="!(nodes && nodes.length>0)"
                         headingText="No app"
                         descriptionText="Create one to see it"></app-splash-screen>

    </div>
  </div>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Script Node</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" (ngSubmit)="createNodeHandler(createAppForm.value)" class="input-group"
            style="width: 450px">
        <input type="text" [ngModel]="'script'" name="node_type" value="script" hidden>
        <label for="">Node name</label>
        <input ngModel name="name" type="text" nbInput fullWidth placeholder="Project">
        <br>
        <label class="mt-1" for="">Description</label>
        <textarea ngModel name="description" type="text" nbInput fullWidth placeholder="Project"></textarea>
        <br>
        <div class="form-group mt-1">
          <label class="justify-content-start">Environment</label>
          <select name="environmentID" ngModel class="form-control">
            <option *ngFor="let env of environments" value="{{env._id}}">{{env.name}}</option>
          </select>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton class="btn btn-primary" (click)="createNodeHandler(createAppForm.value, ref)">
        Next
        <i class="fa fa-caret-right"></i>
      </button>

    </nb-card-footer>
  </nb-card>
</ng-template>
<ng-template #dataModal let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Create Data Node</nb-card-header>
    <nb-card-body>
      <form #createAppForm="ngForm" class="input-group"
            style="width: 450px">
        <input type="text" [ngModel]="'data'" name="node_type" hidden>
        <label for="">Node name</label>
        <input ngModel name="name" type="text" nbInput fullWidth placeholder="Project">

        <div class="form-group mt-2">
          <label class="justify-content-start">Data type</label>
          <nb-radio-group ngModel name="file_format" class="d-flex">
            <nb-radio
              [value]="'csv'">
              CSV
            </nb-radio>
            <nb-radio
              [value]="'custom'">
              Custom
            </nb-radio>
          </nb-radio-group>
        </div>

        <br>
        <!--TODO: following-->
        <div class="form-group">
          <label class="justify-content-start">Multiple Select</label>
          <input class="form-control" type="file">
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <!--<button nbButton (click)="ref.close()" class="mr-1">Close</button>-->
      <button nbButton (click)="createNodeHandler(createAppForm.value, ref)">
        Next
        <i class="fa fa-caret-right"></i>
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>



